streamlit
langgraph
langgraph-checkpoint-sqlite
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
pydantic
python-dotenv
pypdf
requests
duckduckgo-search
sentence-transformers
chromadb
